@using Services
@{
    ViewData["Title"] = "CRMM";
    ViewData["Path"] = new Dictionary<string, string>() {
        { "CRMM", "" }
    };
}

<div class="text-center p-5">
<h3>Vítejte @WorkContext.CurrentUser.Name</h3>
@if (WorkContext.CurrentUser.HasState(UserStates.Validating))
{
    <h6 class="text-danger" data-toggle="tooltip" data-placement="bottom" title="Dokud nebube účet ověřen, není možné provést žádné&nbsp;operace!">Váš účet čeká na ověření</h6>
}
</div>