@using ModelCore
@model System.Collections.Generic.IList<DatabaseContext.Models.Place>

@{
    ViewBag.Title = "Lokace";
    Layout = "_Layout";
    ViewData["Path"] = new Dictionary<string, string>() {
        { "CRMM", Url.Action("Index", "Home") },
        { "Lokace", "" }
    };
}

<h2>Lokace</h2>

@Html.PartialAsync("_Table", Model.Select(i => i as BaseModel).ToList()).Result